<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentação</title>
    <link rel="stylesheet" href="../../../static/styles.css">
    <link rel="stylesheet" href="../../../static/documentacoes.css">
</head>
<body>
    <div class="navbar">
        <a href="../../home.html">Home</a>
        <a href="../../upload.html">Upload</a>
        <a href="../../configuracoes.html">Configurações</a>
        <a href="../../relatorios.html">Relatórios</a>
        <a href="../index.html">Documentação</a>
    </div>

  <div class="content-wrapper">
    <!-- Sidebar esquerda -->
    <div class="sidebar">
      <h2>Tópicos</h2>
      <ul>
        <li><a href="../strategybase.html">StrategyBase</a></li>
        <li><a href="../objetivos.html">Missões</a></li>
        <li><a href="../mapas.html">Mapas</a></li>
        <li><a href="../properties.html">Properties</a></li>
        <li><a href="../armas.html">Armas</a></li>
        <li><a href="itens.html">Itens</a></li>
        <li><a href="../habilidades.html">Habilidades</a></li>
        <li><a href="../host.html">Host</a></li>
      </ul>
      <h2>Subtópicos</h2><ul>
        <li><a href="espada.html">Espadas</a></li>
        <li><a href="machado.html">Machados</a></li>
        <li><a href="picareta.html">Picaretas</a></li>
        <li><a href="foice.html">Foices</a></li>
        <li><a href="martelo.html">Martelo</a></li>
        <li><a href="tridente.html">Tridente</a></li>
        <li><a href="besta.html">Besta</a></li>
        <li><a href="escudo.html">Escudo</a></li>
      </ul>
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content">
      <a href="../index.html">Main</a> > 
      <a href="../armas.html">Armas</a> >
      <a href="machado.html">Machados</a>

      <h1>Machados</h1>
      <p>Paragrafo</p>

      <p>Paragrafo</p>

      <br>
      <h2>Subtitulo</h2>
      <p>Paragrafo</p>
    </div>

    <!-- Blocos de estatísticas à direita -->
    <div class="stats">
      <div class="stat-block">
        <h3>Requisitos</h3>
        <p>Ataque: 60</p>
      </div>
      <div class="stat-block">
        <h3>Status da Arma</h3>
        <p>Dano: 65</p>
        <p>Velocidade: Média</p>
      </div>
      <div class="stat-block">
        <h3>Valor de Mercado</h3>
        <p>GP: 120.000</p>
      </div>
    </div>
  </div>
</body>
</html>
